*~
.bundle
capybara-*.html
config/database.yml
config/initializers/action_mailer.rb
config/orbited.cfg
config/orbited.yml
db/*.sqlite3
db/schema.rb
doc/**/*
log/*.log
log/orbited/*.log
log/apache2/*.log
public/stylesheets/compiled/*
TAGS
tmp/**/*
tmp/*.sqlite3
tmp/debug.txt
tmp/orbited.sh
tmp/restart.txt
