body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	overflow: hidden;
	cursor:url('http://maps.google.com/mapfiles/openhand.cur}');
}

#body_wrapper {
	text-align: center;
}

#container {
	background-color: #323232;
	position: relative;
	
	height: 600px;
	width:1000px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 1px solid black;
}

#nodes_wrapper {
	position: absolute;
	background: #000;
	width: 100%;
	height: 150px;
	opacity: 0.7;
	left: 0px;
	padding: 10px 10px 10px 20px;
}

#slider_wrapper {
	position: absolute;
	top: 25px;
	left: 15px;
	height: 200px;
}

#slider_wrapper .fd-slider-vertical
        {
        float:left;
        height:150px;
        margin-right:4px;
        }
#slider_wrapper .fd-slider-vertical .fd-slider-inner
        {
        background:#202020;
        border-color:#1c1c1c;
		opacity: 0.2;
        }
#slider_wrapper .fd-slider-vertical .fd-slider-bar
        {
        background:#111;
        border-color:#111 #2c2c2c #2c2c2c #111;
        }
#slider_wrapper code
        {
        color:#ccc;
        }
#slider_wrapper .fd-slider:focus .fd-slider-inner,
#slider_wrapper .fd-slider-vertical:focus .fd-slider-inner,
#slider_wrapper .focused .fd-slider-inner
        {
        background:#202020 !important;
        border-color:#000 !important;
        }

#new_node {
	width: 250px;
	height: 150px;
}

#footer {
	text-align: center;
}