.node(class="node_#{node.id}")
  .actions
    = link_to(image_tag("arrow_reply.png", :title => "Reply"), new_node_path(:parent => node.id), :class => "reply")
  .title_and_author
    %span.title=h node.title
    by 
    %span.author=h node.user.login
  .avatar
    = image_tag("/images/missing.png")
  .description=h node.description
- node.children.each do |child|
  = render "tree_nodes", :node => child
