<canvas id="huddle_canvas"></canvas>
<div id="slider_wrapper">
	<input id="slider" type="text" value="1">
</div>
<div id="nodes_wrapper">
	<div id="node_contents"></div>
</div>
<div id="nodes">
	<ol>
		<li><div id="root" class="node">
				<div class="title">Thoughts on our new benefits package</div>
				<div class="summary">As a company, we will be putting together a new benefits package.  What would everyone like to see added or taken out from what we currently have.</div>
				<div class="author">JScadden</div>
				<div class="date_time">April 14th 2010 11:51AM</div>
			</div>
			<ol>
				<li><div id="node_1" class="node">
						<div class="title">Gym Membership</div>
						<div class="summary">It would be awesome to provide a Gym membership.</div>
					</div>
					<ol>
						<li><div id="node_3" >No this is the best Idea</div></li>
						<li><div id="node_3">No this is the best Idea</div></li>
						<li><div id="node_3">No this is the best Idea</div>
							<ol>
								<li><div id="node_10">Check this one out</div></li>
								<li><div id="node_10">Check this one out</div></li>
								<li><div id="node_10">Check this one out</div></li>
								<li><div id="node_10">Check this one out</div>
									<ol>										
										<li><div id="node_10">Check this one out</div></li>
										<li><div id="node_10">Check this one out</div></li>
										<li><div id="node_10">Check this one out</div></li>
									</ol>
								</li>
							</ol>
						</li>
						<li><div id="node_3">No this is the best Idea</div>
							<ol>
								<li><div id="node_10">Check this one out</div></li>
							</ol>
						</li>
					</ol>
				</li>
				<li><div id="node_2" class="node">
						<div class="title">Premiums Paid</div>
						<div class="summary">The Premiums are getting expensive.  Lets see the company pay 100% of the premiums.</div>
					</div>
					<ol>
						<li><div id="node_10">Check this one out</div></li>
						<li><div id="node_10">Check this one out</div></li>
						<li><div id="node_10">Check this one out</div></li>
						<li><div id="node_10">Check this one out</div></li>
					</ol>
				</li>
				<li><div id="node_5">Check this one out</div></li>
				<li><div id="node_5">Check this one out</div></li>
				<li><div id="node_5">Check this one out</div>
					<ol>
						<li><div id="node_10">Check this one out</div>
							<ol>
								<li><div id="node_10">Check this one out</div></li>
							</ol>
						</li>
					</ol>
				</li>
				<li><div id="node_5">Check this one out</div></li>
			</ol>
		</li>
	</ol>
</div>