<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Huddle</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/slider.css">
    <%= yield :styles %>
	
	<script type="text/javascript" src="javascripts/processing-0.7.1.js"></script>
	<!--<script type="text/javascript" src="javascripts/processing-0.6.js"></script>-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="javascripts/jquery.huddle.js"></script>
	<script type="text/javascript" src="javascripts/init.js"></script>
	<script type="text/javascript" src="javascripts/slider.js"></script>
	<%= yield :scripts %>
  </head>
  <body id='main'>
	<%= @content_for_layout %>
  </body>
</html>